<!-- service.component.html -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4">Nos services</h4>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let service of services">
          <div class="card mb-4 shadow-sm service-card h-100">
            <img [src]="service.avatar" class="card-img-top service-image" [alt]="service.Nom">
            <div class="card-body">
              <a routerLink="/service/{{ service._id }}"><h5 class="card-title">{{ service.Nom }}</h5></a>
              <p class="card-text">Prix: {{ service.Prix }} Ariary</p>
              <p class="card-text">Durée : {{ service.Duree }} Heures</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a routerLink="/service/{{ service._id }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
