<div *ngIf="currentService._id" class="edit-form">
    <h4>Service</h4>
    <form>
      <div class="form-group">
        <label for="Nom">Nom</label>
        <input
          type="text"
          class="form-control"
          id="Nom"
          [(ngModel)]="currentService.Nom"
          name="Nom"
        />
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input
          type="text"
          class="form-control"
          id="Description"
          [(ngModel)]="currentService.Description"
          name="Description"
        />
      </div>

      <div class="form-group">
        <label for="Duree">Duree</label>
        <input
          type="number"
          class="form-control"
          id="Duree"
          [(ngModel)]="currentService.Duree"
          name="Duree"
        />
      </div>

      <div class="form-group">
        <label for="Prix">Prix</label>
        <input
          type="number"
          class="form-control"
          id="Prix"
          [(ngModel)]="currentService.Prix"
          name="Prix"
        />
      </div>

      <div class="form-group">
        <label for="Commission">Commission</label>
        <input
          type="number"
          class="form-control"
          id="Commission"
          [(ngModel)]="currentService.Commission"
          name="Commission"
        />
      </div>

    </form>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateService()"
    >
      Update
    </button>
  </div>
