<div class="container">
  <h2>Créer un employé</h2>
  <form >
    <div class="form-group">
      <label for="firstName">Prénom :</label>
      <input type="text" formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Nom :</label>
      <input type="text" formControlName="lastName" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Numéro de téléphone :</label>
      <input type="text" formControlName="phoneNumber" class="form-control">
    </div>
    <div class="form-group">
      <label for="jobTitle">Poste :</label>
      <input type="text" formControlName="jobTitle" class="form-control">
    </div>
    <div class="form-group">
      <label for="department">Département :</label>
      <input type="text" formControlName="department" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>
