<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="Nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="Nom"
            required
            [(ngModel)]="service.Nom"
            name="Nom"
          />
        </div>
  
        <div class="form-group">
          <label for="Description">Description</label>
          <input
            class="form-control"
            id="Description"
            required
            [(ngModel)]="service.Description"
            name="Description"
          />
        </div>

        <div class="form-group">
            <label for="Duree">Duree</label>
            <input
                type="number"
              class="form-control"
              id="Duree"
              required
              [(ngModel)]="service.Duree"
              name="Duree"
            />
        </div>

        <div class="form-group">
            <label for="Prix">Prix</label>
            <input
                type="number"
              class="form-control"
              id="Prix"
              required
              [(ngModel)]="service.Prix"
              name="Prix"
            />
        </div>

        <div class="form-group">
            <label for="Commission">Commission</label>
            <input
                type="number"
              class="form-control"
              id="Commission"
              required
              [(ngModel)]="service.Commission"
              name="Commission"
            />
        </div>
    
  
        <button (click)="saveService()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Service was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newService()">Add</button>
      </div>
    </div>
  </div>